$offwhite: #f5f5f5;
$black25: rgba(0,0,0,.25);
$heading-color: #D0C716;
$edit-color: #D0C716;
$completed-color: #0BA623;
$delete-color: #BF142D;
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

html, body{
	background-color: #E2E2E2;
	max-width: 700px;
	margin: 0 auto;
}

.head{
	font-size:65px;
	color:$heading-color;
	text-shadow: 1px 1px $black25, 2px 2px $black25;
	padding:20px 0;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-family: $font;
	font-weight: 100;
	opacity: .6;
}

.content{
	background-color: $offwhite;
	padding:30px 20px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.25);
	margin-top:10px;
	.list{
		padding:5px 20px;
	}
}

.text-box{
	padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    width:100%;
    font-size: 23px;
    font-weight: 200;
	outline: none;
}

.item{
	padding: 20px 10px;
	border-top: 1px solid rgba(0,0,0,.2);
	line-height: 20px;
	font-size: 22px;
}

.itemValue{
	padding-left:15px;
}

.check{
	color:$completed-color;
	opacity: .9;
}
.delete{
	color:$delete-color;
	float: right;
	opacity: .6;
}
.pencil{
	color:$edit-color;
	opacity: .8;
}
.icon{
	font-size: 20px;
	cursor: pointer;
	&:hover{
		opacity: .2;
	}
}
footer{
	padding:15px 0;
}
.pagesBtn{
	font-family: $font;
	font-weight: 200;
	font-size: 18px;
	margin:0px 5px;
	padding:8px 15px;
	color: #777;
	letter-spacing: 2px;
	outline: none;
}

.pagesBtn {
	&:hover, &:focus, &:active {
		color: #777;
		outline: none !important;
	}
}
.all-items{
	color:rgba(0,0,0,0.3);
}
.itemValue {
	input, input:active {
		background-color: $offwhite;
		border: none;
		outline: none;
		line-height: 16px;
		font-size: 22px;
		padding: 0px;
		margin: 0px;
	}
}